<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loggin</title>
</head>
<body>
  <h1>
    ¿Qué tal?
  </h1>
  <section>
    <form action="messages" method="GET">
      <label for="Username">Username: </label>
      <input type="text" name="Username" id="testUsername">
      <input type="submit" value="Enter">
    </form>    
  </section>
</body>
</html>